* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: linear-gradient(to bottom right, #F875AA, #FFDFDF, #FFF6F6, #AEDEFC);
    height: auto;
    border: 2px solid;
  }

h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 70px;
}

form {
  padding: 20px;
    font-size: 1.2rem;
    width: 500px;
    margin: 5px auto;
    border: 2px solid pink;
    border-radius: 30px 0;
    box-shadow: 3px 3px 10px rgba(0, 162, 255, 0.457) ;
}
  
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1em;
}

input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="file"],
  input[type="submit"] {
    background-color: white;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
  }
  
  input[type="submit"] {
    zoom: 1.5;
    margin-top: 10px;
    background-color: rgb(16, 160, 232);
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  input[type="checkbox"] {
    zoom: 1.5;
  }
  input[type="file"] {
    zoom: 1.5;
  }
  input[type="submit"] :hover {
    background-color: blue;
  }

  select{
    background-color: white;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
  }

  @media screen and(max-width:768px) {
    form {
        width: 200px;
        margin: 0 auto;
        height: 100%;
    }
  }